<!-- サブタイトル -->
<%= provide(:title, "トップ") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">

	<div id="notice">
		<h3>お知らせ</h3>
		<ul>
			<li><time>2015年5月8日</time> <span class="bold">ホンダナサービス</span>がさきがけ新聞朝刊5/8版に掲載されました。</li>
			<li><time>2015年4月1日</time> <span class="bold">ホンダナサービス</span>（β版）を開始しました。登録は<span class="bold">無料</span>です！！</li>
		</ul>
	</div>

	<div id="new">
		<h3>新着の本</h3>
		<% @new_bookinfos.each do |new_bookinfos| %>
			<div class="book_box">
				<p><a href= "/search/<%= new_bookinfos.id %>/details.html"><%= new_bookinfos.name %></a><br>
				<img src="/assets/<%= new_bookinfos.picture %>" class="s_img"></a></p>
			</div>
		<% end %>
<p style="clear:both; margin-top: 15em">

		<!--<div class="book_box">
			<p><a href="#">吾輩は猫である<br>
			<img src="http://ecx.images-amazon.com/images/I/51K3MJKDQFL.jpg" class="s_img"></a></p>
		</div>
		<div class="book_box">
			<p><a href="#">脅威のプレゼン<br>
			<img src="http://www.nikkeibp.co.jp/article/column/20100730/239565/100804_doi01.jpg" class="s_img"></a></p>
		</div>
		<div class="book_box">
			<p><a href="#">走れメロス<br>
			<img src="/assets/b.jpg" class="s_img"></a></p>
		</div>
	</div>-->

</div><!-- 本文 ここまで -->
