<!-- サブタイトル -->
<%= provide(:title, "書籍詳細") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="book_img">
		<p><img src="/assets/<%= @bookinfo.picture %>"></p>
	</div>
	<div id="spec">
		<dl>
			<dt>タイトル</dt>
			<dd><%= @bookinfo.name %></dd>
			<dt>著者名</dt>
			<dd><%= @bookinfo.author %></dd>
			<dt>ISBN</dt>
			<dd><%= @bookinfo.isbn13 %></dd>
			<!--<dt>ジャンル</dt>
			<dd>
			<%# @book_genre.each do |genre| %>
				<%#= genre.name %><br />
			<%# end %>
			</dd>-->
			<dt>出版社</dt>
			<dd><%= @bookinfo.publisher %></dd>
			<dt>発売日</dt>
			<dd><%= @bookinfo.release_date %></dd>
			<dt>作品概要</dt>
			<dd><%= @bookinfo.content %></dd>
		</dl>
	</div>
	<p id="btn_area">
		<% if cookies[:id] == nil %>
		<input type="button" class="big_btn" value="交換する" size="40" onclick="location.href='/signin/'">
		<input type="button" value="お気に入り追加" size="40" disabled="disabled">
		<input type="button" class="big_btn" value="ホンダナに登録" size="40" onclick="location.href='/signin/'">
		<% else %>
		<input type="button" class="big_btn" value="交換する" size="40" onclick="location.href='/trade/<%= @bookinfo.id %>/select.html'">
		<input type="button" value="お気に入り追加" size="40" onclick="fav_dialog('<%= @bookinfo.id %>');">
		<input type="button" class="big_btn" value="ホンダナに登録" size="40" onclick="location.href='/books/new'">
		<% end %>
	</p>
		<% if session[:details_flag] == "0" then %>
			<%= form_tag :controller => 'search', :action => 'search_details' do %>
			<%= submit_tag '戻る', :class => 'big_btn' %>
		<% end %>
		<% elsif session[:details_flag] == "1" then %>
			<%= form_tag :controller => 'search', :action => 'index' do %>
			<%= hidden_field_tag :keyword, session[:keyword] %>
			<%= submit_tag '戻る', :class => 'big_btn' %>
		<% end %>
	<% end %>
</div><!-- 本文 ここまで -->