<!-- サブタイトル -->
<%= provide(:title, "検索結果") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<body>
<div id="main">
	<!--
	<p>"太宰治"　の検索結果</p>
	<p>全3件中　1～3件を表示</p>
	<div class="book_box">
		<p><a href="0/details.html">人間失格<br>
		<p><a href="000_details.html">人間失格<br>
		<img src="/assets/a.jpg" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">走れメロス<br>
		<img src="/assets/b.jpg" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">津軽<br>
		<img src="/assets/c.jpg" class="images"></a></p>
	</div>
	-->
	
	<% if @nilKeyword == 0 %>
	<p>
		キーワードが入力されていません。<br />
		キーワードを入力して下さい。<br />
	</p>
	
	<% elsif @nilKeyword == 1 %>
	<p>
		１文字のキーワードでは検索できません。<br />
		２文字以上のキーワードで検索して下さい。<br />
	</p>
	
	<% elsif @bookinfo.count == 0 %>
	<p>
		"<%= @keyword %>" に一致する書籍は見つかりませんでした。<br />
		別のキーワードで検索して下さい。<br />
	</p>
	
	<% else %>
	<p>"<%= @keyword %>" の検索結果</p>
	
		<ul style="list-style:none">
			<% @bookinfo.each do |bookinfo| %>
			<li style="float:left; padding:10px 5px 0 5px;">
				<a href="search/<%= bookinfo.id %>/details"><%= bookinfo.name %></a><br />
				<a href="search/<%= bookinfo.id %>/details"><img src="/assets/<%= bookinfo.picture %>"></a><br />
			<% end %>
			</li>
		</ul>
		
	<% end %>
		
	<div class="book_box">
		<% if session[:id] == nil%>
		<p><a href="../signin">新規書籍登録<br>
			<input type="button" name="entry" value="書籍登録" class="images"></a>
		</p>
		<% else %>
		<p><a href="../../bookinfos/new">新規書籍登録<br>
			<input type="button" name="entry" value="書籍登録" class="images"></a>
		</p>
		<% end %>
	</div>
	
	<hr>
	
	<!-- 検索結果を表示 -->
	
	<p>楽天 web serviceでの検索結果</p>
	
	<% if @nilKeyword == 0 %>
	<p>
		<br />
		キーワードが入力されていません。<br />
		<br />
		検索のヒント:<br />
		<br />
		キーワードを入力します。<br />
	</p>
	
	<% elsif @nilKeyword == 1 %>
	<p>
		<br />
		そのキーワードでは検索できません。<br />
		<br />
		検索のヒント:<br />
		<br />
		キーワードを２文字以上にします。<br />
		<br />
		スペースを減らします。<br />
	</p>
	
	<% elsif @jsonData['Items'].nil? %>
	<p>
		<br />
		"<%= @keyword %>" に一致する書籍は見つかりませんでした。<br />
		<br />
		検索のヒント:<br />
		<br />
		キーワードに誤字・脱字がないか確認します。<br />
		別のキーワードを試してみます。<br />
		もっと一般的なキーワードに変えてみます。<br />
		キーワードの数を減らしてみます。<br />
	</p>
	
	<% else %>
	<p>全<%= @jsonData['count'] %>件中　<%= @jsonData['first'] %>～<%= @jsonData['last'] %>件を表示</p>
	<ul style="list-style:none">
		<% if session[:id] == nil %>
	    <% @jsonData['Items'].each do |item| %>
	    <li>    	
	    	<%= link_to item['Item']['title'], '../signin' %>
	    	<img src="<%= item['Item']['mediumImageUrl'] %>">
	    </li>
	    <% end %>
	    <% else %>
	    <% @jsonData['Items'].each do |item| %>
	    <li>    	
	    	<%= link_to item['Item']['title'], {:controller => "bookinfos", :action => "new", :isbn => item['Item']['isbn']} %>
	    	<img src="<%= item['Item']['mediumImageUrl'] %>">
	    </li>
	    <% end %>
	    <% end %>
	</ul>
	
	<% end %>
	
	<!--
	<p>外部サイト(Amazon)での検索結果</p>
	<p>全x件中　x～x件を表示</p>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<div class="book_box">
		<p><a href="#">xxxxxxxxxxxxx<br>
		<img src="#" class="images"></a></p>
	</div>
	<p id="btn_c_area">
		<input type = "button" value= "前へ" disabled="disabled">
		<a href="#">1</a> <a href="#">2</a>
		<input type = "button" value= "次へ">
	</p>
	-->
</div>

</body>
<!-- 本文 ここまで -->
