<% login = 1%>
<div id="head">
	<h1 id="head_image">
		<a href="../../../../top/"><img src="/assets/title_ico.png" alt="「ホンダナ」のトップに移動する"></a>
	</h1>






	<div id="navigate"><!-- 右ブロック -->
		<p class="box">
			<% if session[:id] == nil %>
			<a href="../../../../signin/">
			<% else %>
			<a href="../../../../account/">
			<% end %>
			<img src="/assets/mypage_ico.png" alt="マイページ"></a></p>
		<p class="box"><a href="../../../../information/outline/service/"><img src="/assets/this_is_ico.png" alt="このサイトについて"></a></p>
		<div id="head_right">
<header>
  <nav>
	<% if signed_in? %>
      ようこそ <strong><%= @current_member.nickname %></strong> さん<br>
      現在<%= @current_member.point %>ブク <%#= link_to 'プロフィール変更', edit_member_path(@current_member) %> |
      <%= link_to "ログアウト", signout_path, method: "delete" %><br>

    <% else %>
      <%= link_to "新規会員登録", new_member_path %>
      <%= link_to "ログイン", signin_path %>
    <% end %>
  </nav>
</header>
		</div>

		<!-- 検索バー -->
<%= render 'shared/searchBar' %>
	</div>
</div>

<% if login == 1 %>
<!-- ログイン時表示メニュー -->
<div id="member_nav">
	<p><a href="../../../../account/profile/">プロフィール</a></p>
	<p><a href="../../../../trade/">交換一覧</a></p>
	<p><a href="../../../../notice/">会員向け告知</a></p>
</div>
<% end %>
