<!-- サブタイトル -->
<%= provide(:title, "パスワード再設定") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="loginForm">
		<%= form_tag :action => 'comp' do %>
			<h1>ID・パスワード再発行申請</h1>
			<dl>
				<dt>メールアドレス</dt>
				<dd><%= text_field_tag 'mail_address', @mail_address %></dd>
			</dl>
			<p id="btn_area">
				<%= submit_tag "送信" %>
			</p>
			<p><%= link_to 'ログイン画面に移動', signin_path %></p>
		<% end %>
	</div>
</div><!-- 本文 ここまで -->


</body>
</html>
