<%= form_for @bookinfo, :url => { :action => "complete" } do |f| %>
  <% if @bookinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookinfo.errors.count, "error") %> 件のエラー</h2>

      <ul>
      <% @bookinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.hidden_field :members_id %>
  </div>
<div class="field">
    <%= f.label "タイトル" %><br>
    <%= f.hidden_field :name %>
    <%=  @bookinfo.name %>
  </div>
  <div class="field">
    <%= f.label "出版社" %><br>
    <%= f.hidden_field :publisher %>
    <%=  @bookinfo.publisher %>
  </div>
  <div class="field">
    <%= f.label "著者" %><br>
    <%= f.hidden_field :author %>
    <%=  @bookinfo.author %>
  </div>
  <div class="field">
    <%= f.label "発売日" %><br>
    <%#= f.date_select :release_date ,start_year:1930 ,end_year:Time.now.year-1, value: @salesDate %>
    <%= f.hidden_field :release_date %>
    <%=  @bookinfo.release_date %>
    <div class="field">
    <%= f.label "ISBN(13桁)" %><br>
    <%= f.hidden_field :isbn13 %>
    <%=  @bookinfo.isbn13 %>
  </div>
  <div class="field">
    <%= f.label "作品概要" %><br>
    <%= f.hidden_field :content %>
    <%=  @bookinfo.content %>
  </div>
  <div class="field">
    <%= f.label "画像"%><br>
    <%= f.hidden_field :picture %>
    <%= @bookinfo.picture %>
  </div>

  <div class="actions">
    <%= f.submit "登録"  %>
  </div>
<% end %>