<%= form_for @bookinfo, :url => { :action => "complete" } do |f| %>
	<% if @bookinfo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@bookinfo.errors.count, "error") %> 件のエラー</h2>

			<ul>
			<% @bookinfo.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<dl><%= f.hidden_field :members_id %>
		<dt><%= f.label "タイトル：" %></dt>
		<dd>
			<%= f.hidden_field :name %>
			<%=  @bookinfo.name %>
		</dd>

		<dt><%= f.label "出版社：" %></dt>
		<dd>
			<%= f.hidden_field :publisher %>
			<%=  @bookinfo.publisher %>
		</dd>

		<dt><%= f.label "著者：" %></dt>
		<dd>
			<%= f.hidden_field :author %>
			<%=  @bookinfo.author %>
		</dd>

		<dt><%= f.label "発売日：" %></dt>
		<dd>
			<%= f.hidden_field :release_date %>
			<%=  @bookinfo.release_date %>
		</dd>

		<dt><%= f.label "ISBN(13桁)" %></dt>
		<dd>
			<%= f.hidden_field :isbn13 %>
			<%=  @bookinfo.isbn13 %>
		</dd>

		<dt><%= f.label "作品概要：" %></dt>
		<dd>
			<%= f.hidden_field :content %>
			<%=  @bookinfo.content %>
		</dd>

		<dt><%= f.label "画像："%></dt>
		<dd>
			<%= f.hidden_field :picture %>
			<%= @bookinfo.picture %>
		</dd>
	</dl>
	<p class="actions"><%= f.submit "登録"  %></p>
<% end %>