<%= form_for @bookinfo, :url => { :action => "confirm" } do |f| %>
  <% if @bookinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookinfo.errors.count, "") %>件のエラー</h2>
      <ul>
      <% @bookinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if session[:entryflag] == "0" then %>
<div class="field">
    <%= f.label "タイトル" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "出版社" %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label "著者" %><br>
    <%= f.text_field :author %>
  </div>
  <!--<div class="field">
    <%= f.label "言語" %><br>
    <%= f.text_field :langage %>
  </div>-->
  <div class="field">
    <%= f.label "発売日" %><br>
    <!--<%#= f.date_select :release_date ,start_year:1930 ,end_year:Time.now.year-1, value: @salesDate %>-->
    <%= f.text_field :release_date %>
  </div>
  <!--<%= f.label "寸法" %><br>
  <div class="field">
    <%= f.label "縦" %>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label "横" %>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label "厚さ" %>
    <%= f.text_field :thinck %>
  </div>
  <div class="field">
    <%= f.label "ISBN" %><br>
    <%= f.text_field :isbn10 %>
  </div>-->
  <div class="field">
    <%= f.label "ISBN(10桁または13桁)" %><br>
    <%= f.text_field :isbn13 %>
  </div>
  <div class="field">
    <%= f.label "作品概要" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label "画像"%><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% elsif session[:entryflag] == "1" then %>
	<% if session[:entryjson] != nil then %>
		<% @entryData = session[:entryjson] %>
	<% end %>
<% @entryData['Items'].each do |item| %>
  <div class="field">
    <%= f.label "タイトル" %><br>
    <%= f.text_field :name, value: item['Item']['title'] %>
  </div>
  <div class="field">
    <%= f.label "出版社" %><br>
    <%= f.text_field :publisher, value: item['Item']['publisherName'] %>
  </div>
  <div class="field">
    <%= f.label "著者" %><br>
    <%= f.text_field :author, value: item['Item']['author'] %>
  </div>
  <!--<div class="field">
    <%= f.label "言語" %><br>
    <%= f.text_field :langage %>
  </div>-->
  <div class="field">
    <%= f.label "発売日" %><br>
    <!--<%#= f.date_select :release_date ,start_year:1930 ,end_year:Time.now.year-1, value: @salesDate %>-->
    <% if item['Item']['salesDate'] == "" %>
    <%= f.text_field :release_date, value: "不明" %>
    <% else %>
    <%= f.text_field :release_date, value: item['Item']['salesDate'] %>
    <% end %>
  </div>
  <!--<%= f.label "寸法" %><br>
  <div class="field">
    <%= f.label "縦" %>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label "横" %>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label "厚さ" %>
    <%= f.text_field :thinck %>
  </div>
  <div class="field">
    <%= f.label "ISBN" %><br>
    <%= f.text_field :isbn10 %>
  </div>-->
  <div class="field">
    <%= f.label "ISBN(10桁または13桁)" %><br>
    <% if item['Item']['isbn'] == "" %>
    <%= f.text_field :isbn13, value: "不明" %>
    <% else %>
    <%= f.text_field :isbn13, value: item['Item']['isbn'] %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "作品概要" %><br>
    <% if item['Item']['itemCaption'] == "" %>
    <%= f.text_area :content, value: "作品概要がありません。" %>
    <% else %>
    <%= f.text_area :content, value: item['Item']['itemCaption'] %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "画像"%><br>
    <%= image_tag(item['Item']['mediumImageUrl']) %>
    <%= f.hidden_field :picture, value: item['Item']['mediumImageUrl'] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
<% end %>
