<%= form_for @bookinfo, :url => { :action => "confirm" } do |f| %>
	<% if @bookinfo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@bookinfo.errors.count, "") %>件のエラー</h2>
			<ul>
			<% @bookinfo.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<% if session[:entryflag] == "0" then %>
		<%= f.hidden_field :members_id %>
		<dl>
			<dt><%= f.label "タイトル" %></dt>
			<dd><%= f.text_field :name %></dd>
			<dt><%= f.label "出版社" %></dt>
			<dd><%= f.text_field :publisher %></dd>
			<dt><%= f.label "著者" %></dt>
			<dd><%= f.text_field :author %></dd>
			<dt><%= f.label "発売日" %></dt>
			<dd><%= f.text_field :release_date %></dd>
			<dt><%= f.label "ISBN(13桁)" %></dt>
			<dd><%= f.text_field :isbn13 %></dd>
			<dt><%= f.label "作品概要" %></dt>
			<dd><%= f.text_area :content, :size => "30x10" %></dd>
			<dt><%= f.label "画像"%></dt>
			<dd><%= f.file_field :picture %></dd>
		</dl>
		<p class="actions"><%= f.submit %></p>
	<% elsif session[:entryflag] == "1" then %>
		<% if session[:entryjson] != nil then %>
			<% @entryData = session[:entryjson] %>
		<% end %>
		<% @entryData['Items'].each do |item| %>
			<%= f.hidden_field :members_id %>
			<dl>
				<dt><%= f.label "タイトル" %></dt>
				<dd><%= f.text_field :name, value: item['Item']['title'] %></dd>
				<dt><%= f.label "出版社" %></dt>
				<dd><%= f.text_field :publisher, value: item['Item']['publisherName'] %></dd>
				<dt><%= f.label "著者" %></dt>
				<dd><%= f.text_field :author, value: item['Item']['author'] %></dd>
				<dt><%= f.label "発売日" %></dt>
				<dd><%= f.text_field :release_date, value: item['Item']['salesDate'] %></dd>
				<dt><%= f.label "ISBN(13桁)" %></dt>
				<dd><%= f.text_field :isbn13, value: item['Item']['isbn'] %></dd>
				<dt><%= f.label "作品概要" %></dt>
				<% if item['Item']['itemCaption'] == "" %>
					<dd><%= f.text_area :content, value: "作品概要がありません。", :size => "30x10" %></dd>
				<% else %>
					<dd><%= f.text_area :content, value: item['Item']['itemCaption'], :size => "30x10" %></dd>
				<% end %>
				<dt><%= f.label "画像"%></dt>
				<dd>
					<%= image_tag(item['Item']['mediumImageUrl']) %>
					<%= f.hidden_field :picture, value: item['Item']['mediumImageUrl'] %>
				</dd>
			</dl>
			<p class="actions"><%= f.submit %></p>
		<% end %>
	<% end %>
<% end %>
