<!-- サブタイトル -->
<%= provide(:title, "新規書籍登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="cust_body">
		<h2>あなたが追加した書籍一覧</h2>
		<% if notice == 'complete' %><p>編集を完了しました！</p><% end %>
			<%if @bookinfos.length != 0%>
				<% @bookinfos.each do |bookinfo| %>
				<div class="my_trade_list">
					<h3><a href="/bookinfos/<%= bookinfo.id -%>" style="display: block;"><%= bookinfo.name -%></a></h3>
					<div class="img_area">
						<p><img src="/assets/<%= bookinfo.picture -%>" alt="<%= bookinfo.name -%>" class="images"></p>
						<p><%= link_to "編集", :controller => "bookinfo_edit", :action => "edit", :id => bookinfo.id %></p>
					</div>
					<div class="right_col">
						<div class="lists">
							<dl>
								<dt>タイトル:</dt>
								<dd><%= bookinfo.name -%></dd>
								<dt>著者</dt>
								<dd><%= bookinfo.author -%></dd>
								<dt>出版社</dt>
								<dd><%= bookinfo.publisher -%></dd>
								<dt>作品概要</dt>
								<dd><%= bookinfo.content -%></dd>
								<dt>最終更新</dt>
								<dd><%= bookinfo.updated_at.year -%>-<%= bookinfo.updated_at.month -%>-<%= bookinfo.updated_at.day -%></dd>
								<br clear="both">
							</dl>
						</div>
					</div>
					<p style="clear:both;"></p>
				</div>
			<% end %>
		<%else%>
		<p>登録した書籍はありません。</p>
		<% end %>
	</div>
</div>
