<!-- サブタイトル -->
<%= provide(:title, "料金") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<table>
  <thead><div id="main">
	<dl>
		<dt>タイトル</dt>
		<dd><input type="text" name="name" size="60" value=""></dd>
		<dt>出版社</dt>
		<dd><input type="text" name="publisher"></dd>
		<dt>著者名</dt>
		<dd><input type="text" name="author" size="20" value=""></dd>
		<dt>発売日（1993年5月10日の場合1993/05/10と記入）</dt>
		<dd><input type="text" name="release_date" size="20"></dd>
		<dt>寸法</dt>
		<dt>縦</dt>
		<dd><input type="text" name="height" size="20" >mm</dd>
		<dt>横</dt>
		<dd><input type="text" name="width" size="20" >mm</dd>
		<dt>厚さ</dt>
		<dd><input type="text" name="thick" size="20" >mm</dd>
		<dt>ISBN10桁</dt>
		<dd><input type="text" name="ISBN10" size="50" maxlength="10"></dd>
		<dt>ISBN13桁</dt>
		<dd><input type="text" name="ISBN13" size="50" maxlength="13"></dd>
		<dt>作品概要</dt>
		<textarea name="content" cols="50" rows="5"></textarea>
		<dt>画像のアップロード（任意）</dt>
		<dd><input type="file" name="picture" size="30" value="画像のアップロード"></dd>
	</dl>
	<p id="btn_area">
		<input type="button" class="big_btn" value="登録" onClick="location.href='./entry_confirm.html'">
		<input type = "button" value= "戻る" onclick="location.href='search.html'" >
	</p>
  </thead>

  <tbody>
    <% @bookinfos.each do |bookinfo| %>
      <tr>
        <td><%= bookinfo.name %></td>
        <td><%= bookinfo.publisher %></td>
        <td><%= bookinfo.author %></td>
        <td><%= bookinfo.langage %></td>
        <td><%= bookinfo.release_date %></td>
        <td><%= bookinfo.height %></td>
        <td><%= bookinfo.width %></td>
        <td><%= bookinfo.thinck %></td>
        <td><%= bookinfo.isbn10 %></td>
        <td><%= bookinfo.isbn13 %></td>
        <td><%= bookinfo.content %></td>
        <td><%= bookinfo.picture %></td>
        <td><%= link_to 'Show', bookinfo %></td>
        <td><%= link_to 'Edit', edit_bookinfo_path(bookinfo) %></td>
        <td><%= link_to 'Destroy', bookinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookinfo', new_bookinfo_path %>
</div>
