<!-- サブタイトル -->
<%= provide(:title, "新規書籍登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
    <% @bookinfos.each do |bookinfo| %>

		<div class="my_trade_list">
			<h3><%= link_to bookinfo.name, bookinfo %></h3>
			<div class="img_area">
				<p><img src="/assets/<%= bookinfo.picture -%>" alt="<%= bookinfo.name -%>" class="images"></p>
				<p><%= link_to '編集する', edit_bookinfo_path(bookinfo) %></p>
			</div>
			<div class="right_col">
				<div class="lists">
					<dl>
						<dt>著者</dt>
						<dd><%= bookinfo.author -%></dd>
						<dt>出版社</dt>
						<dd><%= bookinfo.publisher -%></dd>
						<dt>作品概要</dt>
						<dd><%= bookinfo.content %></dd>
						<br clear="both">
					</dl>
				</div>
			</div>
			<p style="clear:both;"></p>
		</div>
    <% end %>
</div>
