<!-- サブタイトル -->
<%= provide(:title, "新規書籍登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
<table>
  <thead>
	<tr>
		<th>タイトル</th>
		<th>出版社</th>
		<th>著者名</th>
		<th>発売日</th>
		<th>寸法</th>
		<th>縦</th>
		<th>横</th>
		<th>厚さ</th>
		<th>ISBN10桁</th>
		<th>ISBN13桁</th>
		<th>作品概要</th>
		<th>画像</th>
	</tr>
  </thead>

  <tbody>
    <% @bookinfos.each do |bookinfo| %>
      <tr>
        <td><%= bookinfo.name %></td>
        <td><%= bookinfo.publisher %></td>
        <td><%= bookinfo.author %></td>
        <td><%= bookinfo.langage %></td>
        <td><%= bookinfo.release_date %></td>
        <td><%= bookinfo.height %></td>
        <td><%= bookinfo.width %></td>
        <td><%= bookinfo.thinck %></td>
        <td><%= bookinfo.isbn10 %></td>
        <td><%= bookinfo.isbn13 %></td>
        <td><%= bookinfo.content %></td>
        <td><%= bookinfo.picture %></td>
        <td><%= link_to 'Show', bookinfo %></td>
        <td><%= link_to 'Edit', edit_bookinfo_path(bookinfo) %></td>
        <td><%= link_to 'Destroy', bookinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
