<!-- サブタイトル -->
<%= provide(:title, "新規書籍登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
<h1>書籍登録</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to '戻る', :back %> 
=======
<%= link_to 'Back', bookinfos_path %>
</div>
>>>>>>> bb4be46058ce72002d9846ef27a17cf3876315af
