<!-- サブタイトル -->
<%= provide(:title, "新規書籍登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
<h1>書籍登録</h1>

<%= render 'form' %>
<% if session[:details_flag] == "0" then %>
<%= form_tag :controller => 'search', :action => 'search_details' do %>
<%= submit_tag '戻る'%>
<% end %>
<% elsif session[:details_flag] == "1" then %>
<%= form_tag :controller => 'search', :action => 'index' do %>
<%= submit_tag '戻る'%>
<% end %>
<% end %>

</div>

