<%= form_for @book, :url => { :action => "complete" } do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> 件のエラー</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= f.hidden_field :members_id %>
    <%= f.hidden_field :bookinfos_id %>
    <%= f.hidden_field :height %>
    <%= f.hidden_field :width %>
    <%= f.hidden_field :thick %>
    <%= f.hidden_field :weight %>
    <%= f.hidden_field :state %>
    <%= f.hidden_field :sunburn %>
    <%= f.hidden_field :scar %>
    <%= f.hidden_field :graffiti %>
    <%= f.hidden_field :broken %>
    <%= f.hidden_field :obi%>
    <%= f.hidden_field :smoke%>
    <%= f.hidden_field :pet %>
	<%= f.hidden_field :mold %>
	<%= f.hidden_field :remarks %>
<dl>
		<dt>タイトル</dt>
		<dd><%= @book.bookinfo.name %></dd>
		<dt>著者名</dt>
		<dd><%= @book.bookinfo.author %></dd>
		<dt>出版社</dt>
		<dd><%= @book.bookinfo.publisher %></dd>
		<dt><%= f.label "状態" %></dt>
		<dd>
			<%= @state %>
		</dd>

		<dt><%= f.label "縦 x 横 x 厚さ (任意) " %></dt>
		<dd>
			<%= @book.height%>mm×
			<%= @book.width %>mm×
			<%= @book.thick %>mm
		</dd>

		<dt><%= f.label "重量(任意)" %></dt>
		<dd><%=@book.weight %>g</dd>
		<dt>その他状態・環境</dt>
		<dd>
		<table>
			<tr>
				<td><%= f.label "帯あり " %><%= @obi %></td>
				<td><%= f.label "日焼け・変色 " %><%= @sunburn %></td>
				<td><%= f.label "スレ・傷など " %><%= @scar %></td>
			</tr>
			<tr>
				<td><%= f.label "たばこ臭 " %><%= @smoke %></td>
				<td> <%= f.label "ペットの有無 " %><%= @pet %></td>
				<td><%= f.label "カビ臭 " %><%= @mold %></td>
			</tr>
			<tr>
				<td colspan="3">
					<%= f.label "書き込み線引き" %><br>
					<%= @graffiti %>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<%= f.label "ページの折れ" %><br>
					<%= @broken %>
				</td>
			</tr>
		</table>
		</dd>
		<dt><%= f.label "備考" %></dt>
		<dd>
			<%= simple_format(@book.remarks) %>
		</dd>
	</dl>

  <div class="actions">
    <%= f.submit%>
  </div>

<% end %>