<%= form_for @book,:url => { :action => "confirm" } do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "") %>件のエラー</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.hidden_field :members_id %>
  </div>

  <div class="field">
    <%= f.hidden_field :bookinfos_id %>
  </div>
  <div class="field">
    <%= f.label "縦" %><br>
    <%= f.text_field :height %><a>mm</a>
  </div>
  <div class="field">
    <%= f.label "横" %><br>
    <%= f.text_field :width %><a>mm</a>
  </div>
  <div class="field">
    <%= f.label "厚さ" %><br>
    <%= f.text_field :thick %><a>mm</a>
  </div>
  <div class="field">
    <%= f.label "重量" %><br>
    <%= f.text_field :weight %><a>g</a>

  </div>
  <div class="field">
	<%= f.label "状態" %><br>
	<label><%= f.radio_button :state, "4" %>ほぼ新品</label><label><%= f.radio_button :state, "3" %>非常に良い</label></br>
	<label><%= f.radio_button :state, "2" %>良い</label><label><%= f.radio_button :state, "1" %>普通</label><label><%= f.radio_button :state, "0" %>汚れ</label>

  </div>
  <div class="field">
    <%= f.label "日焼け・変色" %><br>
	<%= f.check_box(:sunburn,{:checked=>@book.sunburn == 0},"0","1") %>
  </div>
  <div class="field">
    <%= f.label "スレ・傷など" %><br>
    <%= f.check_box(:scar,{:checked=>@book.scar == 0},"0","1") %>
  </div>
  <div class="field">
    <%= f.label "書き込み線引き" %><br>
    <label><%= f.radio_button :graffiti, "0" %>5ページ未満　</label><label><%= f.radio_button :graffiti, "1" %>5ページ以上10ページ未満　</label><label><%= f.radio_button :graffiti, "2" %>10ページ以上　</label>
  </div>
  <div class="field">
    <%= f.label "ページの折れ" %><br>
    <label><%= f.radio_button :broken, "0" %>5ページ未満　</label><label><%= f.radio_button :broken, "1" %>5ページ以上10ページ未満　</label><label><%= f.radio_button :broken, "2" %>10ページ以上　</label>
  </div>
  <div class="field">
    <%= f.label "帯あり" %><br>
    <%= f.check_box(:obi,{:checked=> @book.obi == 0},"0","1") %>
    <%#= f.check_box :obi,   1,  0 %>
  </div>
  <div class="field">
    <%= f.label "たばこ臭" %><br>
    <%= f.check_box(:smoke,{:checked=>@book.smoke == 0},"0","1") %>
    <%#= f.check_box :obi,   1,  0 %>
  </div>
  <div class="field">
     <%= f.label "ペットの有無" %><br>
    <%= f.check_box(:pet,{:checked=>@book.pet == 0},"0","1") %>
    <%#= f.check_box :obi,   1,  0 %>
  </div>
  <div class="field">
    <%= f.label "カビ臭" %><br>
    <%= f.check_box(:mold,{:checked=>@book.mold == 0},"0","1") %>
  </div>
  <div class="field">
    <%= f.label "備考" %><br>
    <%= f.text_area :remarks %>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>