<!-- サブタイトル -->
<%= provide(:title, "蔵書登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>
<!-- 本文 -->
<div id="main">

<h1>蔵書登録完了</h1>
<p>蔵書の登録が完了しました。</p>
<%= form_tag :controller => 'search', :action => 'index' do %>
	<%= hidden_field_tag :keyword, session[:keyword] %>
	<%= submit_tag '検索結果に移動'%>
<% end %>
<%= button_to "トップページに移動","../top/" %>
</div><!-- 本文 ここまで -->
