<!-- サブタイトル -->
<%= provide(:title, "新規蔵書登録") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>
<div id="main">

<!-- 本文 -->
<div id="main">
<h3>蔵書登録</h3>

<%= render 'form' %>
<%= form_tag :controller => 'search', :action => 'book_details' ,:id => session[:bookinofo_id]  do %>
 	<%= submit_tag "戻る" %>
 <% end %>
</div><!-- 本文 ここまで -->
