<p id="notice"><%= notice %></p>

<p>
  <strong>Members:</strong>
  <%= @book.members_id %>
</p>

<p>
  <strong>Bookinfos:</strong>
  <%= @book.bookinfos_id %>
</p>

<p>
  <strong>Height:</strong>
  <%= @book.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @book.width %>
</p>

<p>
  <strong>Thick:</strong>
  <%= @book.thick %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @book.weight %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<p>
  <strong>Sunburn:</strong>
  <%= @book.sunburn %>
</p>

<p>
  <strong>Scar:</strong>
  <%= @book.scar %>
</p>

<p>
  <strong>Graffiti:</strong>
  <%= @book.graffiti %>
</p>

<p>
  <strong>Broken:</strong>
  <%= @book.broken %>
</p>

<p>
  <strong>Obi:</strong>
  <%= @book.obi %>
</p>

<p>
  <strong>Smoke:</strong>
  <%= @book.smoke %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @book.pet %>
</p>

<p>
  <strong>Mold:</strong>
  <%= @book.mold %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @book.remarks %>
</p>

<p>
  <strong>Books flag:</strong>
  <%= @book.books_flag %>
</p>




<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
