<!-- サブタイトル -->
<%= provide(:title, "交換完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<% num = 0 %>
<% @books.each do |book| %>
<div id="main">
	<h2><%= @books[num].nickname %> さんに交換申請しました！</h2>
	<p>お知らせの確認はマイページより行ってください。</p>
	<p id="btn_area">
		<input type = "button" value= "<%= @books[num].nickname %> さんの本棚を見る" class="big_btn" onclick="location.href='../../../user/<%= @books[num].id %>.html'">
		<input type = "button" value= "トップに戻る" class="big_btn" onclick="location.href='../../../'">
	</p>
<% end %>
</div><!-- 本文 ここまで -->