<script type="text/javascript"><!--
 function putMessage(text)
 {
   if (!document.getElementById) return;

   var elm = document.getElementById('message01');
   elm.innerHTML = text;
 }
//--></script>

<!-- サブタイトル -->
<%= provide(:title, "交換完了") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<% if @member.point != 0 then %>
		<dl>
			<dd><b>書籍名：</b><%= @books[0].name-%></dd>
			<dd><b>取引相手：</b><a href="../../user/<%= @books[0].id%>.html"><%= @books[0].nickname-%> さん</a></dd>
			<dd id="message01"></dd>
			<dd><b>現在の状態：</b><% if @bookfind.books_flag == 0 then %>交換可能<% elsif @bookfind.books_flag == 1 then %>交換申請受付完了<% else %>交換不可<% end %></dd>
		</dl>

		<p>交換申請が受付されました。</p>
		<input type = "button" class="big_btn" value= "クリックポストへ" onclick="window.open('http://www.post.japanpost.jp/service/clickpost/')">
		<input type = "button" class="big_btn" value= "取引相手のアドレスを表示する" onclick="putMessage('<b><%= @books[0].nickname-%> さんのメールアドレス：</b><%= @books[0].mail_address-%>')");">
		<input type = "button" class="big_btn" value= "はじめての方はこちら" onclick="location.href='../../../information/guide/'">
	<% else %>
		<p>ポイントが不足しております。</br>本を登録してポイントを獲得してください。</p>
		<p>はじめての方は<a href = "/information/guide/">利用ガイド</a>をご覧ください。</p>
	<% end %>
</div><!-- 本文 ここまで -->