<%#<!-- サブタイトル -->
%>
<%= provide(:title, "交換一覧") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>


<!-- 本文 -->
<div id="main">
<%#	<p>表示切り換え：
#		<input type="radio" name="score" value="受取側" checked />全て /
#		<input type="radio" name="score" value="受取側" />受取側 /
#		<input type="radio" name="score" value="送り側" />送信側 /
#		<input type="radio" name="score" value="取引済み" />取引済み
#	</p>
%>
	<h3>交換一覧</h3>

	<%	#タイトルと画像をクリックすると蔵書の詳細
		#trade/:id/:id/detailsの引数は1つ目が書籍ID、2つ目がユーザID
	%>
	<div id="trades">
		<% num = 0 %>
		<% if @trade.length != 0 then%>
			<% @trade.each do |books| %>
			<div class="book_box">
				<div class="<%=@state_color[num]-%>">
					<p><a href="/trade/<%= books.id -%>/trade_data/"><%= @book_data[num][0].name -%><br>
					<br><img src="/assets/<%= @book_data[num][0].picture -%>" class="images" ></a></p>
					<p><%= @trd_status[num] -%><br>
					<%= @state_name[num] -%><a href="/members/<%= @fore_id[num] -%>"><%= @book_member[num].nickname -%></a></p>
				</div>
			</div>
			<% num = num + 1%>
			<% end %>
		<% else %>
			<p>交換している本はありません。</p>
		<% end %>
	</div>
</div><!-- 本文 ここまで -->
