<!-- サブタイトル -->
<%= provide(:title, "取引一覧") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>


<!-- 本文 -->
<div id="main">
<%#	<p>表示切り換え：
#		<input type="radio" name="score" value="受取側" checked />全て /
#		<input type="radio" name="score" value="受取側" />受取側 /
#		<input type="radio" name="score" value="送り側" />送信側 /
#		<input type="radio" name="score" value="取引済み" />取引済み
#	</p>
%>
	<h2>交換一覧</h2>

	<%	#タイトルと画像をクリックすると蔵書の詳細
		#trade/:id/:id/detailsの引数は1つ目が書籍ID、2つ目がユーザID
	%>

	<% num = 0 %>
	<% @trade.each do |books| %>
	<div class="book_box">
		<p><a href="/trade/<%= books.books_id -%>/<%= books.receipt_members-%>/details"><%= @book_data[num][0].name -%><br>
		<br><img src="/assets/<%= @book_data[num][0].picture -%>" class="images" ></a></p>
		<p><%= @trd_status[num] -%><br>
		<a href=""><%= @book_member[num].name -%></a></p>	</div>
	<% num = num + 1%>
	<% end %>

</div><!-- 本文 ここまで -->
