<!-- サブタイトル -->
<%= provide(:title, "取引相手選択") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<h2>交換する人を選んでください。</h2>
	<% if @book_count == 0 then %>
	<p>在庫がありませんでした。</p>
	<% else %>
	<p><%= @book_count %>人見つかりました</p>
	<% end %>
	<% num = 0 %>
	<% @books.each do |book| %>
	<hr>
	<div id="exchange">
	<table>
		<tr>
			<th>登録ユーザー</th>
			<th>状態</th>
			<th>備考</th>
			<th>操作を選択</th>
		</tr>
		<tr>
			<td><p class="user_name"><a href="../../user/<%= @books[num].members_id %>.html"><%= @books[num].nickname %> さん</a></p></td>
			<td><% if book.state == 0 then %>汚れあり<%elsif book.state == 1 then %>普通<%elsif book.state == 2 then %>良い<% else %>非常に良い<% end %></td>
			<td><%= book.remarks %></td>
			<td>
				<input type="button" value="交換" class="big_btn" onclick="location.href='./<%= @books[num].members_id %>/confirm.html'"><br>
				<input type="button" value="蔵書の詳細を見る" onclick="location.href='../<%= @books[num].bookinfos_id %>/<%= @books[num].members_id %>/details.html'" >
			</td>
		</tr>
	</table>
	<% num = num + 1 %>
	<% end %>
	</div>
</div>
<!-- 本文 ここまで -->
