<!-- サブタイトル -->
<%= provide(:title, "交換の詳細情報") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

	<% if @member_r.id == @id %><!--申請側だったら-->
	<!-- 本文 -->
	<div id="main">
		<div id="book_img">
			<p><img src="/assets/<%=@bookinfos.picture%>" ></p>
			<p><a href="/trade/">交換一覧に戻る</a></p>
		</div>
		<div id="spec">
		<table width="500" cellspacing="0" cellpadding="5" >
			<tr>
				<th>蔵書名</th>
				<th>取引相手</th>
				<th>現在の状態</th>
			</tr>
			<tr height="50">
				<td><%=@bookinfos.name-%></td>
				<td><a href="../../../members/<%= @member_d.id%>.html"><%= @member_d.nickname%>さん</a></td>
				<td><% if @trades.trades_flag == 0 then %>エラーが発生しました。管理者にお問い合わせください。<% elsif @trades.trades_flag == 1 then %>クリックポストで作成したラベルを送信してください。<% elsif @trades.trades_flag == 2 then %>取引相手の配送待ちです。<% elsif @trades.trades_flag == 3 then %>書籍送付済み。<% else %>書籍お届け済み。<% end %></td>
			</tr>
		</table>
		<% if @trades.trades_flag == 1 then %>
			<input type = "button" class="big_btn" value= "クリックポストへ" onclick="window.open('http://www.post.japanpost.jp/service/clickpost/')">
			<!-- ここをクリックするとtrades_flagが2になる -->
			<%= form_tag '/trade/update2/'+@t_id , :multipart => true do %>
			  <label>ラベルを選択してください(.pdf形式,5MB以内):<br/>
			  <%= file_field_tag :uppic, :size => 30 %></label>
			  <p>ラベルを添付したら、以下のボタンをクリックして完了してください。</p>
			  <%= submit_tag 'アップロード' %>
			<% end %>
			  <!-- ><p><input type="button" value="ラベルをアップロードする" class="big_btn" onclick="location.href='/trade/update2/<%=@t_id-%>'"></p> -->
		<% elsif @trades.trades_flag == 2 then %>
			<p>現在、行うことが可能な動作はありません。</p>
		<% elsif @trades.trades_flag == 3 then %>
			<p>蔵書は現在配送中です。蔵書が届きましたら以下のボタンをクリックしてください。</p>
			<!-- ここをクリックするとtrades_flagが4になる -->
			<p><input type="button" value="受取完了" class="big_btn" onclick="location.href='/trade/update4/<%=@t_id-%>'"></p>
		<% elsif @trades.trades_flag == 4 then %>
			<p>蔵書の交換が完了しました。</p>
			<p>ホンダナのご利用ありがとうございました。</p>
		<% else %>
		<% end %>
	<% else %>
		<% if @member_d.id == @id %><!--送付側だったら-->
		<div id="main">
			<div id="book_img">
				<p><img src="/assets/<%=@bookinfos.picture%>" ></p>
				<p><a href="/trade/">交換一覧に戻る</a></p>
			</div>
			<div id="spec">
			<table width="500" cellspacing="0" cellpadding="5" >
				<tr>
					<th>蔵書名</th>
					<th>申請相手</th>
					<th>現在の状態</th>
				</tr>
				<tr height="50">
					<td><%=@bookinfos.name-%></td>
					<td><a href="../../../members/<%= @member_r.id%>"><%= @member_r.nickname%>さん</a></td>
					<td><% if @trades.trades_flag == 0 then %>エラーが発生しました。管理者にお問い合わせください。<% elsif @trades.trades_flag == 1 then %>申請者のラベル送信待ちです。<% elsif @trades.trades_flag == 2 then %>申請者からラベルが送られました。会員向け告知 をご確認ください。<% elsif @trades.trades_flag == 3 then %>蔵書送付済み。<% else %>蔵書お届け済み。<% end %></td>
				</tr>
			</table>
			<% if @trades.trades_flag == 1 then %>
				<p>現在、行こなうことが可能な動作はありません。</p>
			<% elsif @trades.trades_flag == 2 then %>
				<p>申請者からラベルが届いています。</p>
				<p>配送が完了したら、以下のボタンをクリックしてください。</p>
				<!-- ここをクリックするとtrades_flagが3になる -->
				<p><input type="button" value="蔵書配送完了" class="big_btn" onclick="location.href='/trade/update3/<%=@t_id-%>'"></p>
			<% elsif @trades.trades_flag == 3 then %>
				<p>現在、申請者の送付完了報告待ちです。</p>
			<% elsif @trades.trades_flag == 4 then %>
				<p>蔵書の交換が完了し、1ブク獲得しました。</p>
				<p>ホンダナのご利用ありがとうございました。</p>
			<% else %>
			<% end %>
		<% else %><!--どちらでもなかったら-->
			<div id="main">
				<div id="spec">
			<p>不正なURLです。</p>
		<%end%>
	<%end%>
	</div>
</div><!-- 本文 ここまで -->