<!-- サブタイトル -->
<%= provide(:title, "蔵書編集確認") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<%= form_tag("/account/collection/comp") do %>
	<h1>確認</h1>
	<p>	編集内容はこちらでよろしいですか？</p>
	<dl>
		<dt>書籍名<dt>
		<dd><%= @b_info_detail.name -%></dd>
		<dt>著者名</dt>
		<dd><%= @b_info_detail.author -%></dd>
		<dt>出版社</dt>
		<dd><%= @b_info_detail.publisher -%></dd>
		<dt>本の状態</dt>
		<% case session[:prof][:score]
			when "4" %>
			<dd>ほぼ新品</dd>
			<% when "3" %>
			<dd>非常に良い</dd>
			<% when "2" %>
			<dd>良い</dd>
			<% when "1" %>
			<dd>ふつう</dd>
			<% when "0" %>
			<dd>汚れあり</dd>
		<% end %>
		<dt>縦 x 横 x 厚さ</dt>
		<dd><%= session[:prof][:height]-%>cm x <%= session[:prof][:width]-%>cm x <%= session[:prof][:thick]-%>cm</dd>
		<dt>重さ</dt>
		<dd><%= session[:prof][:weight]-%>g</dd>
		<dt>その他状態・環境</dt>
		<dd>
			<table>
				<tr>
					<td>帯あり <input type="checkbox" onclick="return false;"<%if session[:prof][:obi] == "1"%> checked<% end %>></td>
					<td>日焼けや<br>変色がある <input type="checkbox" onclick="return false;"<%if session[:prof][:burn] == "1"%> checked<% end %>></td>
					<td>スレや<br>キズ等がある <input type="checkbox" onclick="return false;"<%if session[:prof][:scar] == "1"%> checked<% end %>></td>
				</tr>
				<tr>
					<td>たばこを<br>吸っている <input type="checkbox" onclick="return false;"<%if session[:prof][:smoke] == "1"%> checked<% end %>></td>
					<td>ペットを<br>飼っている <input type="checkbox" onclick="return false;"<%if session[:prof][:pet] == "1"%> checked<% end %>></td>
					<td>カビの<br>においがする <input type="checkbox" onclick="return false;"<%if session[:prof][:mold] == "1"%> checked<% end %>></td>
				</tr>
				<tr>
					<td colspan="3">
						書き込み・線引き<br>
						<% case session[:prof][:write]
							when "2" %>
							<dd>10ページ以上</dd>
							<% when "1" %>
							<dd>10ページ未満</dd>
							<% when "0" %>
							<dd>5ページ以内</dd>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						ページの折れ<br>
						<% case session[:prof][:dogear]
							when "2" %>
							<dd>10ページ以上</dd>
							<% when "1" %>
							<dd>10ページ未満</dd>
							<% when "0" %>
							<dd>5ページ以内</dd>
						<% end %>
					</td>
				</tr>
			</table>
		</dd>
		<dt>備考</dt>
		<dd><%= session[:prof][:remarks] -%></dd>
	</dl>
	<p id="btn_area">
		<input type="submit" value="確定" class="big_btn">
		<input type="button" value="戻る" onclick="location.href='/account/collection/edit/<%= session[:prof][:books_id] -%>'" >
	</p>
	<% end %>
</div><!-- 本文 ここまで -->
