<!-- サブタイトル -->
<%= provide(:title, "マイページ") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="added_book">
		<h2>出品中の書籍は　<span class="strong"><%= @count -%> 冊</span>　です！</h2>

		<h3>出品中の書籍</h3>
		<p>全<%= @count -%>件中　直近の<%if @count < 10 -%><%= @count -%><% else -%>10<% end %>件までを表示</p>
		<p style="clear:both"><a href="/account/collection">過去の出品を含むすべての出品はこちら</a></p>
		<div class="inner">

			<% @push_book.each do |books| %>
			<div class="book_box">
				<p><img src="/assets/<%= books.picture -%>" class="images"></p>
				<dl>
					<dt>タイトル:</dt>
					<dd><%= books.name -%></dd>
					<dt>著者:</dt>
					<dd><%= books.author -%></dd>
					<dt>本の状態:</dt>
					<% case books.state
						 when 4 %>
						 <dd>ほぼ新品</dd>
						 <% when 3%>
						<dd>非常に良い</dd>
						<% when 2 %>
						<dd>良い</dd>
						<% when 1 %>
						<dd>ふつう</dd>
						<% when 0 %>
						<dd>汚れあり</dd>
					<% end %>
					<dt>備考:</dt>
					<dd><%=books.remarks -%></dd>
				</dl>
			</div>
			<% end %>

		</div>
	</div>

	<div id="col_lside">
		<h2>所持ポイントは<span class="strong"><%= @member.point -%> ブク</span>です！</h2>

		<div id="favolite">
			<%if notice == "delete" %><p>お気に入りを一件削除しました。</p><% end %>
			<h3>お気に入り</h3>
			<% num = 0%>
			<% @fav_book.each do |favorite| %>
				<p class="f_title"><a href="/search/<%= favorite.books_id -%>/details"><%= favorite.name -%></a></p>
				<% if @arr[num] == 1 %>
				<p class="f_stock">在庫：　○</p>
				<%else%>
				<p class="f_stock">在庫：　×</p>
				<%end%>
				<p class="f_btn"><input type="button" value="削除" onClick="msg_dialog('/account/delete?id=<%= favorite.id -%>')">
</p>
			<% num = num + 1%>
			<% end %>
		</div>
	</div>
</div><!-- 本文 ここまで -->