<!-- サブタイトル -->
<%= provide(:title, "お問い合わせ") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
	<div id="cust_body">
		<h3>お問い合わせ</h3>
		<p>お問い合わせの前に、<%= link_to '利用ガイド', '../../information/guide' %>をご覧ください。</p>
		<br />
		<p><%= flash.now[:error1] %></p>
		<p><%= flash.now[:error2] %></p>
		<p><%= flash.now[:error3] %></p>
		<p><%= flash.now[:error4] %></p>
		<p><%= flash.now[:error5] %></p>
		
		<table style="text-align: left" cellspacing="0" >
			<%= form_tag :controller => 'inquiry', :action => 'confirm' do %>
			<tr>
				<th>カテゴリ</th>
				<td>
					<!--<select>
					<option value = "0">--- 選択して下さい ---</option>
					<option value = "1">サービスについて</option>
					<option value = "2">会員登録について</option>
					<option value = "3">書籍・蔵書の登録について</option>
					<option value = "4">交換について</option>
					<option value = "5">その他</option>
					</select>-->
					<%= select_tag :inquiry_category, options_for_select({
						"----- 選択して下さい -----" => "未選択",
						"サービスについて" => "サービスについて",
						"会員登録について" => "会員登録について",
						"書籍・蔵書の登録について" => "書籍・蔵書の登録について",
						"交換について" => "交換について",
						"その他" => "その他"
					}, :selected => params[:inquiry_category]) %>
					
					
				</td>
			</tr>
			<tr>
				<th>お問い合わせ内容<span class="must">400文字以内</span></th>
				<!--<td><textarea name="INQ_CONTENT" rows="10" cols="70" wrap="soft"></textarea>-->
				<td><%= text_area_tag :inquiry_content, params[:inquiry_content], :size => "75x10" %></td>
			</tr>
			<tr>
				<th>お名前<span class="must">40文字以内</span></th>
				<!--<td><input type="name" name="INQ_NAME" value="" size="30" maxlength="40">　
				<input type="text" name="EU_LNAME" value="" size="30" maxlength="40"></td>-->
				<td><%= text_field_tag :inquiry_name, params[:inquiry_name], :size => "30" %></td>
			</tr>
			<tr>
				<th>フリガナ(全角カナ)<span class="must">40文字以内</span></th>
				<!--<td><input type="name" name="INQ_NAME_KANA" value="" size="30" maxlength="40">　
				<input type="text" name="EU_KLNAME" value="" size="30" maxlength="40"></td>-->
				<td><%= text_field_tag :inquiry_kana, params[:inquiry_kana], :size => "30" %></td>
			</tr>
			<tr>
				<th>メールアドレス<span class="must">80文字以内</span></th>
				<!--<td><input type="name" name="INQ_MAIL" value="" size="60" maxlength="80"></td>-->
				<td><%= text_field_tag :inquiry_mail, params[:inquiry_mail], :size => "60" %></td>
			</tr>
			
		</table>
		<p id="btn_area">
			<!--<input type="button" class="big_btn" value="内容確認" onClick="location.href='../../support/inquiry/confirm'">
			<input type="reset" name="submit" value="入力内容クリア">-->
			<%= submit_tag "内容確認", :class => 'big_btn' %>
		</p>
		<% end %>
	</div>
</div><!-- 本文 ここまで -->
