<!-- サブタイトル -->
<%= provide(:title, "プロフィール編集") -%>
<!-- ヘッダ -->
<%= render 'shared/header' -%>
<!-- 本文 -->
<div id="main">
	<div id="cust_body">
	<h3>プロフィール編集</h3>
	<p class="headtext">※ログインIDは変更できません。</p>
	<%if notice == "empty"%>
	<p class="must">入力内容に空欄があります！</p>
	<% end %>
		<%= form_tag("/account/profile/confirm") do %>
		<table>
			<tr>
				<th>ログインID</th>
				<td>
					<%= @member.login_id -%>
					<input type="hidden" name="prof[id]" value="<%= @member.login_id -%>">
				</td>
			</tr>
			<tr>
				<th>氏名<span class="must">必須</span></th>
				<td><input type="name" name="prof[name]" value="<%= session[:prof][:name] -%>" size="40" maxlength="80"></td>
			</tr>
			<tr>
				<th>氏名(フリガナ)<span class="must">必須</span></th>
				<td><input type="name" name="prof[name_kana]" value="<%= session[:prof][:name_kana] -%>" size="20" maxlength="40"></td>
			</tr>
			<tr>
				<th>ニックネーム<span class="must">必須</span></th>
				<td><input type="name" name="prof[nickname]" value="<%= session[:prof][:nickname] -%>" size="20" maxlength="40"></td>
			</tr>
			<tr>
				<th>メールアドレス<span class="must">必須</span><br>(半角英数字)</th>
				<td><input type="name" name="prof[mail]" value="<%= session[:prof][:mail] -%>" size="60" maxlength="80"></td>
			</tr>
<!--			<tr>
				<th>パスワード<span class="must">必須</span><br>(半角英数字)</th>
				<td><%= password_field :prof, :pass, :size => '40', :value => session[:prof][:pass] -%></td>
			</tr>-->
			<tr>
				<th>生年月日<span class="must">必須</span><br>(半角数字)</th>
				<td>
					西暦<input type="name" name="prof[birth_year]" value="<%= session[:prof][:birth_year] -%>" size="4" maxlength="4"> 年
					<input type="name" name="prof[birth_month]" value="<%= session[:prof][:birth_month] -%>" size="2" maxlength="2"> 月
					<input type="name" name="prof[birth_day]" value="<%= session[:prof][:birth_day] -%>" size="2" maxlength="2"> 日
				</td>
			</tr>
			<tr>
				<th>住所<span class="must">必須</span></th>
				<td><input type="name" name="prof[address]" value="<%= session[:prof][:address] -%>" size="60" maxlength="80"></td>
			</tr>
			<tr>
				<th>好きな作家</th>
				<td>
					<% num = 0 -%>
					<% @member.favorite_authors.each do |fav| %>
					<input type="name" name="prof[fav_author_<%= num -%>]" value="<%= fav.author -%>" size="60" maxlength="80"><br>
					<% num = num + 1 %>
					<% end %>
					<% for num in num..2 do %>
					<input type="name" name="prof[fav_author_<%= num -%>]" value="" size="60" maxlength="80"><br>
					<% num = num + 1 %>
					<% end %>
				</td>
			</tr>
			<tr>
				<th>好きなジャンル</th>
				<td>
					<% num = 0 -%>
					<% for num in num..2 do %>
					<select name="prof[fav_genre_<%= num -%>]">
						<% if @g[num] == "0" || @g[num] == "" || @g[num] == nil %>
						<% elsif %>
						<option value=<%= @g[num] -%>><%=@g2[num][0].name-%></option>
						<% end %>
						<option value="0">なし</option>
						<% @genres.each do |genre| %>
							<option value="<%= genre.id %>"><%= genre.name %></option>
						<% end %>
					</select>
					<% num = num + 1 %>
					<% end %>
				</td>
			</tr>
		</table>
		<p id="btn_area">
			<input type="submit" name="comp" value="確認画面へ" class="big_btn">
			<input type="button" name="back" value="戻る" onClick="location.href='./'">
		</p>
	<% end %>
</div><!-- 本文 ここまで -->