<%= form_for @member, :url => { :action => "complete" } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %>件のエラー</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label "ログインID：" %><br>
    <%= f.hidden_field :login_id,:size=>"50"%>
    <span><%=  @member.login_id %></span>
  </div>
<br>
  <div class="field">
    <%= f.label "氏名：" %><br>
    <%= f.hidden_field :name %>
    <span><%=  @member.name %></span>
  </div>
<br>
  <div class="field">
    <%= f.label "カナ：" %><br>
    <%= f.hidden_field :kana %>
    <span><%= @member.kana %></span>
  </div>
<br>
    <div class="field">
    <%= f.label "生年月日：" %><br>
    <%= f.hidden_field :birthday%>
    <span><%= @member.birthday %></span>
  </div>
<br>
  <div class="field">
    <%= f.label "パスワード：" %><br>
    <%= f.hidden_field :password %>
    <span><%= f.label "セキュリティ上表示しません" %></span>
  </div>
<br>
  <div>
  	<%= f.hidden_field :password_confirmation %>
  </div>
<br>
  <div class="field">
    <%= f.label "ニックネーム：" %><br>
    <%= f.hidden_field :nickname %>
    <span><%=  @member.nickname %></span>
  </div>
<br>
   <div class="field">
    <%= f.label "メールアドレス：" %><br>
    <%= f.hidden_field :mail_address , :size=>"50"%>
    <span><%= @member.mail_address %></span>
  </div>
<br>
  <div class="field">
    <%= f.label "住所：" %><br>
    <%= f.hidden_field :address ,:size=>"50"%>
    <span><%= @member.address %></span>
  </div>
<br>
  <div class="actions">
    <%= f.submit "登録"  %>
  </div>
<% end %>