<%= form_for @member,:url => { :action => "confirm" } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count,"") %>件のエラー:</h2>

      <ul style="list-style:none;">
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
  	<dt>ログインID：</dt>
  	<dd>
		<% if false %>  <%= f.label "ログインID：" %><br> <% end %>
		<%= f.text_field :login_id, :size=>"50"%>
  	</dd>
  	<dt><%= f.label "氏名：" %></dt>
  	<dd><%= f.text_field :name %></dd>
	<dt><%= f.label "カナ：" %></dt>
	<dd><%= f.text_field :kana %></dd>
    <dt><%= f.label "生年月日：" %></dt>
    <dd><%= f.date_select :birthday,start_year:1930 ,end_year:Time.now.year-1 %></dd>
    <dt><%= f.label "パスワード：" %></dt>
    <dd><%= f.password_field :password %></dd>
  	<dt><%= f.label "パスワードの再入力："%></dt>
  	<dd><%= f.password_field :password_confirmation %></dd>
    <dt><%= f.label "ニックネーム：" %></dt>
    <dd><%= f.text_field :nickname %></dd>
    <dt><%= f.label "メールアドレス：" %></dt>
    <dd><%= f.text_field :mail_address , :size=>"50"%></dd>
    <dt><%= f.label "住所：" %></dt>
    <dd><%= f.text_field :address , :size=>"50"%></dd>
    <dt><%= f.submit "確認"  %>
  </dl>

<% end %>
