<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this bookgenre from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "ログインID" %><br>
    <%= f.text_field :login_id %>
  </div>

   <div class="field">
    <%= f.label "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "カナ" %><br>
    <%= f.text_field :kana %>
  </div>

    <div class="field">
    <%= f.label "生年月日" %><br>
    <%= f.date_select :birthday,start_year:1930 ,end_year:Time.now.year-1%>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br>
    <%= f.password_field :password %>
  </div>
  <div>
  	<%= f.label "パスワード確認"%><br>
  	<%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label "ニックネーム" %><br>
    <%= f.text_field :nickname %>
  </div>

   <div class="field">
    <%= f.label "メールアドレス" %><br>
    <%= f.text_field :mail_address %>
  </div>

  <div class="field">
    <%= f.label "住所" %><br>
    <%= f.text_field :address %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
