<%= form_for @member do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "") %>件のエラー </h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<dl>
	<dt><%= f.label "新しいパスワード：" %></dt>
	<dd><%= f.password_field :password %></dd>
	<dt><%= f.label "パスワード再入力：" %></dt>
	<dd><%= f.password_field :password_confirmation %></dd>
</dl>

  <div class="actions">
    <%= f.submit "変更"  %>
  </div>

<% end %>
