<!-- サブタイトル -->
<%= provide(:title, "会員登録確認") %>
<!-- ヘッダ -->
<%= render 'shared/header' %>

<!-- 本文 -->
<div id="main">
<h3>確認画面</h3>

<%= render 'confirm' %>

<%= form_for @member,:url => { :action => "new" }  do |f| %>
 <%= f.hidden_field :login_id,value:@member.login_id%>
 <%= f.hidden_field :name,value:@member.name%>
 <%= f.hidden_field :kana,value:@member.kana%>
 <%= f.hidden_field :birthday,value:@member.birthday%>
 <%= f.hidden_field :nickname,value:@member.nickname%>
 <%= f.hidden_field :mail_address,value:@member.mail_address%>
 <%= f.hidden_field :address,value:@member.address%>
 <%= submit_tag "戻る" %>
 <% end %>

</div><!-- 本文 ここまで -->
