<h1>会員</h1>

<table>
  <thead>
    <tr>
      <th>ログインID</th>
      <th>名前</th>
      <th>カナ</th>
      <th>生年月日</th>
      <th>パスワード</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
      <th>住所</th>
      <th>ブク<th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.login_id %></td>
        <td><%= member.name %></td>
        <td><%= member.kana %></td>
        <td><%= member.birthday %></td>
        <td><%= member.password %></td>
        <td><%= member.nickname %></td>
        <td><%= member.mail_address %></td>
        <td><%= member.address %></td>
        <td><%= member.point %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </body>
</table>

<br>

<%= link_to 'New member', new_member_path %>
