<!-- ヘッダ -->
<%= render 'shared/header' %>
<h1>
  <%= @member.nickname %>さんの本棚
</h1>

<p>登録済みの蔵書:<%= @members_books.length %>冊</p>
<ul style="list-style:none">
	<% @members_books.each do |members_book| %>
		<li style="float:left; padding:10px 5px 0 5px;">
			<a href="../books/<%= members_book.id %>"><%= members_book.bookinfo.name %></a><br />
			<a href="../books/<%= members_book.id %>"><img src="/assets/<%= members_book.bookinfo.picture %>"></a><br />
	<%end%>
		</li>
</ul>

